/* need to fix a bunch of little things for a more compact look */

.label-center { text-align: center; display: block; font-weight: bold; }
.label-right { text-align: right; display: block; font-weight: bold; }
.align-middle {  position: absolute; left: 50%; top: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); z-index: 1 }

table.dataTable { line-height: 0.3rem; }

.dropdown-item, .dropdown-menu li a { padding: 0.1rem 0.5rem 0.1rem 0.5rem; -webkit-appearance: unset; }

.dropdown-divider, .dropdown-menu li.divider { background-color:#ffffff; padding: 0; margin: 0.25rem 0.5rem 0.25rem 0.5rem }

li.dropdown-header { text-align: center; padding: 0.1rem; font-size: 0.8rem; }

.jexcel_container { border: 0; background-color: inherit; }
.jexcel { }

nav.navbar { padding: 0px; }

#version { color: #808080; }

textarea { font-family: monospace; line-height: 1rem; }

body {  }

.form-control { font-size: inherit; }

.pretty .state label { font-size: 0.8rem; }

.modal-dialog { min-width: 800px; }
